/* button:hover{
    background-color: red;
    color: white;
    border: 1px solid red;
}
input:disabled{
    background-color: orange;
}
p::first-line{
    color: blue;
}

.foo, .bar, .faz{
    color: orange;
    font-size: 2rem;
    font-weight: bolder;
} */
/* p.baz{
    color: green;
}

.baz{
    color: red;
}
p{
    color: orange;
} */

.padre{
    width: 200px;
    height: 200px;
    background-color: orange;
}
.caja{
    width: 25%;
    height: 350px;
    background-color: blueviolet;
}

.foo{
    font-size: 1rem;
}
.bar{
    font-size: 2rem;
}
.baz{
    font-size: 3rem;
}